 .button {
     padding: .8rem 2.2rem;
     font: ;
     position: relative;
     border-radius: 4px;
 }
 
 button:focus,
 button:active button:hover .btn.active {
     outline: 0px !important;
     box-shadow: none !important;
 }
 
 .button-group button {
     background: transparent;
     border: none;
     color: rgb(33, 37, 41);
     line-height: 1.5rem;
     margin-bottom: 2rem;
 }
 
 .button-group button+button {
     padding-left: 3rem;
 }
 
 .button.primary-button {
     background: var(--btn-color);
     background-clip: padding-box;
     color: whitesmoke;
     transition: background .6s ease;
     box-shadow: var(--box-shadow);
 }
 
 .button.primary-button:hover {
     background: var(--secondary-color);
     background-clip: padding-box;
     color: black;
 }
 
 .button.primary-button::after {
     position: absolute;
     top: -2px;
     left: -2px;
     bottom: -2px;
     right: -2px;
     background: var(--btn-color);
     content: ' ';
     z-index: -1;
     border-radius: 4px;
 }