                                                /*Responsive Css*/
                                                
                                                @media(max-width:1190px) {
                                                    #main {
                                                        background-size: 1150px !important;
                                                    }
                                                    .name {
                                                        left: 10%;
                                                        top: 50%;
                                                        transform: translate(-10%, -50%);
                                                    }
                                                    #services {
                                                        height: auto;
                                                    }
                                                    #contact-form form {
                                                        width: 95% !important;
                                                    }
                                                }
                                                
                                                @media(max-width:900px) {
                                                    .toggle {
                                                        display: block;
                                                    }
                                                    .toggle:before {
                                                        content: '\f0c9';
                                                        font-family: fontAwesome;
                                                        line-height: 0px;
                                                        margin-left: -30px;
                                                    }
                                                    .toggle.active:before {
                                                        content: '\f00d' !important;
                                                    }
                                                    nav {
                                                        padding: 10px 30px;
                                                    }
                                                    nav ul {
                                                        position: absolute;
                                                        width: 100%;
                                                        height: auto;
                                                        box-sizing: border-box;
                                                        background-color: #0F0F0F;
                                                        top: 50px;
                                                        left: 0;
                                                        transition: 0.5s;
                                                        overflow: hidden;
                                                        display: none !important;
                                                        border: 3px solid #1F1F1F;
                                                    }
                                                    nav ul li a {
                                                        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                                                        color: #ffffff !important;
                                                        width: 100%;
                                                        height: 50px;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        margin: 0px !important;
                                                        padding: 0px !important;
                                                    }
                                                    nav ul {
                                                        padding: 0px;
                                                        margin: 0px;
                                                    }
                                                    .active-menu {
                                                        display: block !important;
                                                    }
                                                    nav ul li a:hover {
                                                        background-color: rgba(27, 29, 32, 0.15);
                                                    }
                                                    #contact-form {
                                                        padding: 20px;
                                                        height: auto;
                                                        box-sizing: border-box;
                                                    }
                                                    #contact-form form {
                                                        flex-direction: column;
                                                        height: auto;
                                                        padding: 20px;
                                                        width: 90% !important;
                                                    }
                                                    .contact-left,
                                                    .contact-right {
                                                        width: 100%;
                                                        border: none;
                                                    }
                                                    .f-name,
                                                    .f-email {
                                                        width: 100%;
                                                    }
                                                    .f-name input,
                                                    .f-email input {
                                                        width: 100%;
                                                        border: none;
                                                        background-color: #262626 !important;
                                                        padding: 10px;
                                                        box-sizing: border-box;
                                                        height: 40px;
                                                    }
                                                    textarea {
                                                        background-color: #262626 !important;
                                                        margin: 10px 0px;
                                                        padding: 10px;
                                                        height: 200px !important;
                                                        width: 100% !important;
                                                    }
                                                    .message {
                                                        margin: 0px;
                                                    }
                                                    #contact-form form h1 {
                                                        margin: 5px 0px;
                                                    }
                                                    .menu {
                                                        text-align: center;
                                                    }
                                                }
                                                
                                                @media(max-width:550px) {}